<script>

function update_entries(data) {
  var table = $('<table></table>');
  for(i=0; i<data.length; i++){
      var row = $('<tr></tr>').text(data[i].city);
      table.append(row);
  }

  $('#coin_entries').html(table);
};

$(document).ready(function () {
$("#serial_number_0").bind('change', function()
  {
    $.ajax({
      type: "GET",
      url: "coin_entries/find_by_serial_number/" + $( "select[id=serial_number_0] option:selected" ).text(),
      success: update_entries
    });
  return true;
  });
});

</script>

<h1>Select Coin</h1>

    <div class="field">
      <%= label(:coins, "Select Coin") %><br>
      <%= collection_select(:serial_number, 0, Coin.all, :id, :serial_number) %>
    </div>

    <div id="coin_entries">
    </div>