// Place all the styles related to the CoinEntries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.input_section {
    width: 25%;
    float: left;
  height: 200px;
}
div.geo_location {
    margin-left: 40%;
  height: 200px;
}

#map-canvas {
	height: 400px;
}
#allcoins-map-canvas {
  height: 200px;
}

input.edit_field {
  width: 90%;
}
textarea.edit_field {
  width: 90%;
}
span.back-of-rock {
  font-size: 80%;
}
$border-rad: 4px;
div.left_box {
  width: 23%;
  float: left;
}
div.serial_number_container {
  @extend .outlined_box;
  float: left;
  width: 85%;
  height: 55px;
}
div.cities {
  @extend .outlined_box;
  float: left;
  width: 85%;
  overflow-y:scroll;
  overflow-x:hidden;
  height: 325px;
}
div.edit_fields {
  float: left;
  width: 25%;
  height: 394px;
}
div.small_map {
  float: left;
  width: 35%;
  height: 394px;
}
div.map-container {
  float: left;
}

div.outlined_box {
  border-radius: $border-rad $border-rad $border-rad $border-rad;
  -moz-border-radius: $border-rad $border-rad $border-rad $border-rad;
  -webkit-border-radius: $border-rad $border-rad $border-rad $border-rad;
  border: 2px solid #000000;
  margin: 10px;
  padding: 10px;
}
div.section_box {
  @extend .outlined_box;
  margin: 10px;
  padding: 25px;
}
div.allcoins_section_box {
  @extend .outlined_box;
  padding: 15px;
  height: 210px;
  width: 95%;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}