// Place all the styles related to the CoinEntries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.input_section {
    width: 25%;
    float: left;
  height: 200px;
}
div.geo_location {
    margin-left: 40%;
  height: 200px;
}

#map-canvas {
	height: 200px;
}

$border-rad: 4px;

div.edit_fields {
  float: left;
  width: 130px;
}
div.cities {
  float: left;
  width: 200px;
  overflow-y:scroll;
  overflow-x:hidden;
}
div.map {
  float: left;
  width: 404px;
}
div.serial_number_container {
  @extend .outlined_box;
  width: 434px;
  height: 40px;
  margin: 10px;
  padding: 10px;
}
div.outlined_box {
  border-radius: $border-rad $border-rad $border-rad $border-rad;
  -moz-border-radius: $border-rad $border-rad $border-rad $border-rad;
  -webkit-border-radius: $border-rad $border-rad $border-rad $border-rad;
  border: 2px solid #000000;
}
div.section_box {
  @extend .outlined_box;
  margin: 10px;
  padding: 25px;
  height: 340px;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}